     
<section class="bg-img">
    <div class="container">
        <div class=" border-0 pt-5 px-md-5">
            <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div  class="row py-4 justify-content-center">
                    <div class="col-md-8 text-center">
                        <h3 class="text-white mb-2">Log In</h3>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control"  formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Username" >
                            <div class="input-group-append">
                                <span class="input-img">
                                    <img src="../../../assets/icons/user 1.png" width="20px" height="20px" alt="">
            
                                </span>
                            </div>
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                            </div>
                          </div>
                    </div>
                </div>
                <div  class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid' : submitted && f.password.errors}" placeholder="Password" >
                            <div class="input-group-append">
                                <span class="input-img">
                                    <img src="../../../assets/icons/lock_24px.png" width="18px" height="20px" alt="">
            
                                </span>
                            </div>
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required" >Password is required</div>
                            </div>
                          </div>
                    </div>
                   
                </div>
                <div  class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" formControlName="confirmPassword" [ngClass]="{ 'is-invalid' : submitted && f.confirmPassword.errors}" placeholder="Reapeat Password" >
                            <div class="input-group-append">
                                <span class="input-img">
                                    <img src="../../../assets/icons/lock_24px.png" width="18px" height="20px" alt="">
            
                                </span>
                            </div>
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required" >Password is required</div>
                                <div *ngIf="f.confirmPassword.errors.confirmPasswordValidator" >Password not match</div>
                            </div>
                          </div>
                    </div>
                   
                </div>
                <div class="row justify-content-center my-3">
                    <div class="col-md-6">
                        
                        <input formControlName="terms" [ngClass]="{ 'is-invalid': submitted && f.terms.errors}" type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label class="text-white" for="vehicle1">By clicking here, you agree to <a class="link" href="">terms & condition</a> and <a class="link" href="">privacy policy</a>.</label>
                        <div *ngIf="submitted && f.terms.errors" class="invalid-feedback">
                            <div *ngIf="f.terms.errors.required">Checkbox is required</div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center py-3">
                    <div class="col-md-5">
                        <button  (click)='onSubmit1()' class="btn my-3 btn-success py-3 btn-block rounded-pill">Login</button>
                    </div>
                </div>
            </form>
            <div class="row pb-4 justify-content-center">
                <div class="col-md-5 text-center">
                    <a class="text-white" [routerLink]="['/auth/signup']">Dont have account? Signup</a>
                </div>
            </div>
        
      
            </div>
            </div>
            </section>
      