<section>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-12 px-0">
                <div>
                    <img src="../../assets/images/image 16.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-4">
            <div class="col-md-6">
                <div class="d-flex" style="margin-top: -80px;">
                    <div class="find-job">
                       <h4>Find Jobs</h4>
                    </div>
                    <div class="find-employee">
                        <h4>Find Employee</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card border-0 p-4">
                    <div class="row justify-content-center">
                        <div class="col-md-3 px-0">
                            <input type="search" class="form-control border-0 shadow" placeholder="Keywords">
                            
                        </div>
                        <div class="col-md-3 px-0">
                            <select class="form-select bg-light border-0 shadow form-control" aria-label="Default select example">
                                <option selected>Profile category</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                        <div class="col-md-3 px-0">
                            <input type="text" class="form-control bg-light border-0 shadow" readonly value="Location">
                        </div>
                        <div class="col-md-2 px-0">
                            <button class="btn btn-success btn-block">Search</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row ">
            <div class="col-md-6 p-4">

                <ul class="unstyled d-flex">
                    <li class="mx-3">
                      <input class="styled-checkbox-1 mt-2" id="styled-checkbox-1" type="checkbox" value="value1" checked>
                      <label for="styled-checkbox-1">Freelancer</label>
                    </li>
                    <li class="mx-3">
                      <input class="styled-checkbox-2" id="styled-checkbox-2" type="checkbox" value="value2" checked>
                      <label for="styled-checkbox-2">Full Time</label>
                    </li>
                    <li class="mx-3">
                        <input class="styled-checkbox-3" id="styled-checkbox-3" type="checkbox" value="value3" checked >
                        <label for="styled-checkbox-3">Part Time</label>
                      </li>
                  </ul>
            </div>
        </div>
       <div class="row border-0">
        <div class="col-md-12">
            <div class="row job-row   py-3" [routerLink]="['/job-details']">
               <div class="col-md-2 img-right">
                    <div class="img-div">
                        <img class="job-img" src="../../../assets/images/Ellipse 5.png" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                   <ul class="list-unstyled mt-md-4">
                       <li>
                           <span class="job-title">Sr Php/Laravell Developer</span>
                           <span class="full-time ml-3"><i class="fas fa-briefcase"></i> Full Time</span>
                           <span class=""></span>
                       </li>
                       <li>
                           <span class="job-site">Amazon.com</span>
                           <span class="job-markup ml-2"><i class="fas fa-map-marker-alt"></i></span>
                           <span class="job-location"> Green Town, Pakistan</span>
                       </li>
                   </ul>
                </div>
                <div class="col-md-3 text-right">
                    <ul class="list-unstyled mt-md-4">
                        <li>
                            <span class="job-des">Software development</span>
                          
                        </li>
                        <li>
                     
                            <span class="job-clock"><i class="far fa-clock"></i></span>
                            <span class="job-time"> 10:20 PM , Jan 12, 2020</span>
                        </li>
                    </ul>
                </div>
    
            </div>
            <div class="row job-row  py-3" [routerLink]="['/job-details']">
                <div class="col-md-2 img-right ">
                    <div class="img-div">
                        <img class="job-img" src="../../../assets/images/Ellipse 5 (1).png" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                   <ul class="list-unstyled mt-md-4">
                       <li>
                           <span class="job-title">Ui/ UX Developer</span>
                           <span class="part-time ml-3"><i class="fas fa-briefcase"></i>  Part Time</span>
                           <span class=""></span>
                       </li>
                       <li>
                           <span class="job-site">Amazon.com</span>
                           <span class="job-markup ml-2"><i class="fas fa-map-marker-alt"></i></span>
                           <span class="job-location"> Green Town, Pakistan</span>
                       </li>
                   </ul>
                </div>
                <div class="col-md-3 text-right">
                    <ul class="list-unstyled mt-md-4">
                        <li>
                            <span class="job-des">Software development</span>
                          
                        </li>
                        <li>
                     
                            <span class="job-clock"><i class="far fa-clock"></i></span>
                            <span class="job-time"> 10:20 PM , Jan 12, 2020</span>
                        </li>
                    </ul>
                </div>
    
            </div>
            <div class="row  job-row  py-3" [routerLink]="['/job-details']">
                <div class="col-md-2 img-right ">
                    <div class="img-div">
                        <img class="job-img" src="../../../assets/images/Ellipse 5 (2).png" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                   <ul class="list-unstyled mt-md-4">
                       <li>
                           <span class="job-title">Angroid Developer</span>
                           <span class="freelancer ml-3"><i class="fas fa-briefcase"></i>  Freelancer</span>
                           <span class=""></span>
                       </li>
                       <li>
                           <span class="job-site">Amazon.com</span>
                           <span class="job-markup ml-2"><i class="fas fa-map-marker-alt"></i></span>
                           <span class="job-location"> Green Town, Pakistan</span>
                       </li>
                   </ul>
                </div>
                <div class="col-md-3 text-right">
                    <ul class="list-unstyled mt-md-4">
                        <li>
                            <span class="job-des">Software development</span>
                          
                        </li>
                        <li>
                     
                            <span class="job-clock"><i class="far fa-clock"></i></span>
                            <span class="job-time"> 10:20 PM , Jan 12, 2020</span>
                        </li>
                    </ul>
                </div>
    
            </div>
            <div class="row job-row  py-3" [routerLink]="['/job-details']">
                <div class="col-md-2 img-right ">
                    <div class="img-div">
                        <img class="job-img" src="../../../assets/images/Ellipse 8.png" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                   <ul class="list-unstyled mt-md-4">
                       <li>
                           <span class="job-title">Angular Developer</span>
                           <span class="internship ml-3"><i class="fas fa-briefcase"></i>  Internship</span>
                           <span class=""></span>
                       </li>
                       <li>
                           <span class="job-site">Amazon.com</span>
                           <span class="job-markup ml-2"><i class="fas fa-map-marker-alt"></i></span>
                           <span class="job-location"> Green Town, Pakistan</span>
                       </li>
                   </ul>
                </div>
                <div class="col-md-3 text-right">
                    <ul class="list-unstyled mt-md-4">
                        <li>
                            <span class="job-des">Software development</span>
                          
                        </li>
                        <li>
                     
                            <span class="job-clock"><i class="far fa-clock"></i></span>
                            <span class="job-time"> 10:20 PM , Jan 12, 2020</span>
                        </li>
                    </ul>
                </div>
    
            </div>
        </div>
       </div>
    </div>
</section>

<!-- keep head tag as it is -->
