<div class="row my-5">
    <div class="col-md-6">
        <label for="">Old Password</label>
        <input type="password" placeholder="Enter old pasword" class="form-control shadow">
    </div>
    <div class="col-md-6">
        <label for="">New Password</label>
        <input type="password" class="form-control shadow" placeholder="Enter new password" name="" id="">
    </div>
    <div class="col-md-6 mt-md-3">
        <label for="">Repeat New Password</label>
        <input type="password" placeholder="Enter repeat new password" class="form-control shadow">
    </div>
</div>
<div class="row my-5 justify-content-center">
    <div class="col-md-3">
        <button class="rounded-pill btn btn-success btn-block">Save changes</button>
    </div>
</div>