.nav-tabs .nav-link.active {
  color: #00B876;
  background-color: transparent;
  border-color: #ddd #ddd #fff;
  border-bottom: 3px solid #00B876;
}

.nav-tabs .nav-link {
  margin-bottom: -1px;
  border: none;
  color: #003B26;
  font-size: 20px !important;
  font-weight: 500 !important;

 
}

.nav-tabs {
  border-bottom: none;
}

ul{
  justify-content: space-around;
}
.card{
  border: none;
  border-radius: 10px;
}
.child_img img{
  position: absolute;
    margin-top: -45px;
    margin-left: 115px;
    cursor: pointer;
}

.profile_layout{
  display: flex;
  justify-content: space-between;
  margin: 20px 105px 20px 105px
}

.parent_img span{
  margin-left: 15px;
    font-size: 24px;
    font-weight: 500;
}
.available_work{
  margin-top: 50px;
}

.available_work span{
  font-size: 18px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}

.switch input { 
  
  margin-top: 25px;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #99E3C8;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00B876;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00B876;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}