<div class="container">
    <div class="row my-md-5">
        <div class="col-md-4 text-center">
            <div>
                <img src="../../assets/resume/Ellipse 8.png" height="160px" width="160px" alt="">
            </div>
            <div>
                <h4>Elisa John</h4>
                <h6 class="text-green">Design director</h6>
                <p>since Dec, 10, 2013</p>
                <button class="btn btn-success">View profile</button>
            </div>
        </div>
        <div class="col-md-8">
            <h4>Contect info</h4>
            <div class="d-flex mt-3">
                <div>
                    <img src="../../assets/icons/Group 44.png" width="20px"  alt="">
                </div>
                <div>
                    <h6 class="ml-4">@husnian</h6>
                </div>
            </div>
            <div class="d-flex my-3">
                <div>
                    <img src="../../assets/icons/call_24px.png" width="20px"  alt="">
                </div>
                <div>
                    <h6 class="ml-4">+923124702094</h6>
                </div>
            </div>
            <h4>A little bit about Umair asim</h4>
           

            <ul class="list-unstyled">
                <li class="mt-4">
                    <span>Hey, <br>
                     We are searching for a good designer to start working on a simple app with us
                     This is a music application for listening to tracks. <br>
                     
                     Designer must have a greater portfolio and great feedback's. <br>
                     In the process of work, it is necessary to create a clickable prototype and prepare a design mock-up for the programmer.
                     <br>
                     Also please make sure you can be available during normal working hour and complete the task with in 9 days.
                     <br>
                   
                    </span>
                </li>
                <li>
                    <span>  If interested is this job you must: <br>
                     * Be available via Upwork Messenger at normal working hours <br>
                     * Experience Mobile UX design <br>
                     * Fun person to work withbr <br>
                     * Own an Android</span>
                </li>
                <li>
                    <span>
  
                     If interested in this task please make sure to send us links to your latest BEST work in the field of app design. I do not want to go through a complete portfolio.
                     <br>
                     Also, when applying to this JOB please start your cover letter with the word "Kiwi" so I'll know you read our 
                     requirements and you know what we are searching for.
                     
                    
                    </span>
                </li>
                <li>
                    <span> Thanks!</span>
                </li>
                <li class="mt-3">
                   
                </li>
                <li class="mt-2">
                
             </li>
            </ul>
            <div class="text-center mt-4 mb-5">
                <button class="btn btn-success px-5 rounded-pill py-2">Contact</button>
            </div>
        </div>
    </div>
</div>