<div class="container margin-top-100 margin-bottom-50">
    <div class="row" >
        <div class="col-xl-5 offset-xl-3">

            <div (keyup.enter)='onSubmit()' class="login-register-page">
                <!-- Welcome Text -->
                <div class="welcome-text">
                    <h3 style="font-size: 26px;">Signup</h3>
                    <span>Already <a href="javascript:void(0)" routerLink="/auth">Log In!</a></span>
                </div>
                <form [formGroup]="form" id="register-account-form" (ngSubmit)="onSubmit()">

                    <!-- Account Type -->
                    <div class="account-type">
                        <div>
                            <input type="radio" [value]="'Consultant'" formControlName="role" id="Consultant"
                                class="account-type-radio" />
                            <label for="Consultant" class="ripple-effect-dark"><i
                                    class="icon-material-outline-account-circle"></i> Consultant</label>
                        </div>
                        <div>
                            <input type="radio" id="Company" [value]="'Company'" formControlName="role"
                                class="account-type-radio" />
                            <label for="Company" class="ripple-effect-dark"><i
                                    class="icon-material-outline-business-center"></i>Company</label>
                        </div>

         
                    </div>

                    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
                        <li [ngbNavItem]="0">
                            <ng-template ngbNavContent>
                                <!-- Name -->
                                <div class="input-with-icon-left">
                                    <i class="far fa-user"></i>
                                    <input formControlName="name" type="text" class="input-text with-border"
                                        name="name-register" id="name-register" placeholder="Full Name" />
                                   

                                </div>

                                <!-- Email -->
                                <div class="input-with-icon-left">
                                    <i class="icon-material-baseline-mail-outline"></i>
                                    <input formControlName="email" type="email" class="input-text with-border"
                                        placeholder="Email" />

                                </div>

                                <!-- Password -->
                                <div class="input-with-icon-left" title="Should be at least 8 characters long"
                                    data-tippy-placement="bottom">
                                    <i class="icon-material-outline-lock"></i>
                                    <input formControlName="password" type="password" class="input-text with-border"
                                        name="password-register" id="password-register" placeholder=" Password" />

                                </div>

                                <!-- Confirm Password -->
                                <div class="input-with-icon-left" title="Should be at least 8 characters long"
                                    data-tippy-placement="bottom">
                                    <i class="icon-material-outline-lock"></i>
                                    <input formControlName="confirmPassword" type="password"
                                        class="input-text with-border" name="password-register" id="password-register"
                                        placeholder="Repeat Password" />
                                    
                                </div>

                               

                            </ng-template>
                        </li>

                        <li [ngbNavItem]="1">


                            <ng-template ngbNavContent>
                                <!-- Name -->

                                <div class="input-with-icon-left">
                                    <i class="far fa-building"></i>
                                    <input formControlName="name" type="text" class="input-text with-border"
                                        name="name-register" id="name-register" placeholder="Company Name" />

                                </div>

                                <!-- corporate number -->
               

                                <!--Person Name -->
                                <div class="input-with-icon-left">
                                    <i class="far fa-user"></i>

                                    <input type="text" formControlName="personName" class="input-text with-border"
                                        name="name-register" id="name-register"
                                        placeholder="Person" />
                                </div>

                               

                                <!-- mobile number -->
                
                                <!-- Password -->
                                <div class="input-with-icon-left" title="Should be at least 8 characters long"
                                    data-tippy-placement="bottom">
                                    <i class="icon-material-outline-lock"></i>
                                    <input formControlName="password" type="password" class="input-text with-border"
                                        name="password-register" id="password-register" placeholder=" Password" />

                                </div>
                                <!-- Confirm Password -->
                                <div class="input-with-icon-left" title="Should be at least 8 characters long"
                                    data-tippy-placement="bottom">
                                    <i class="icon-material-outline-lock"></i>
                                    <input formControlName="confirmPassword" type="password"
                                        class="input-text with-border" placeholder="Repeat Password" />
                                  
                                </div>

                            </ng-template>
                        </li>

                       
                    </ul>

                    <div [ngbNavOutlet]="nav" class="mt-2"></div>



                    <!-- Button -->
                    <button class="button full-width button-sliding-icon ripple-effect margin-top-10"
                        (click)='onSubmit()' type="submit" form="login-form">Register <i
                            class="icon-material-outline-arrow-right-alt"></i></button>
                </form>

            </div>

        </div>
    </div>
</div>
