<footer >
  <section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr class="my-5">
            </div>
            <div class="col-md-3">
                <h6 class="text-white">About Us</h6>
                <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, 
                    officiis reiciendis deserunt exercitationem id fugiat enim quia
                     aliquid alias facere cumque !</p>
            </div>
            <div class="col-md-3">
                <h6 class="text-white">Employee</h6>
                <ul class="list-unstyled">
                    <li><a class="text-white" >Find Jobs
                        </a></li>
                    <li><a class="text-white"  >Find Companies</a></li>
                    <li><a class="text-white" >My profile</a></li>
                    <li><a  class="text-white" >Search</a></li>
                   
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class="text-white">Employer</h6>
                <ul class="list-unstyled">
                    <li><a class="text-white"  >Find Candictes
                        </a></li>
                    <li><a class="text-white">Post Job</a></li>
                    <li><a class="text-white"  >Dashboard</a></li>
                   
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class="text-white">Subscribe for usefull newsletter</h6>
                <p class="text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Ex ea in dignissimos omnis error tenetur.</p>
                    <div class=" mb-3">
                        <input type="text" class="form-control custom-input py-3" placeholder="Email.." >
                        <div class="input-group-append">
                            <span class="input-img">
                               <button class="btn btn-custom"><img src="../../../assets/resume/send_24px.png" alt=""></button>
    
                            </span>
                        </div>
                      </div>

            </div>
        </div>
        
    </div>
  </section>
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-4">
                <ul class="list-unstyled d-flex">
                    <li class="mr-4">
                        <img src="../../../assets/icons/Union.png" width="20px" height="20px" alt="">
                    </li>
                    <li class="mr-4">
                        <img src="../../../assets/icons/Vector (15).png" width="23px" height="20px" alt="">
                    </li>
                    <li class="mr-4">
                        <img src="../../../assets/icons/Vector (16).png" width="20px" height="20px" alt="">
                    </li>
                    <li class="mr-4">
                        <img src="../../../assets/icons/Vector (17).png" width="20px" height="20px" alt="">
                    </li>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <span class="copyright">COPYRIGHT 2020 - TERMS & CONDITIONS  PRIVACY POLICY</span>
            </div>
            <div class="col-md-4 text-center">
                <img src="../../../assets/icons/Rizk.png" alt="">
            </div>
        </div>
    </div>
</footer>
