<section class="bg-img">
    <div class="container">
        <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div  class="row py-5 justify-content-center">
            <div class="col-md-8 text-center">
                <h3 class="text-white mt-5 mb-3">Forgot Password</h3>
                <h4 class="text-white mt-3 mb-4">Enter your email we will send your further
                    information</h4>
            </div>
           
            <div class="col-md-6">
                <div class="input-group my-5 mb-3">
                    <input type="text" class="form-control"  formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Email,User Name" >
                    <div class="input-group-append">
                        <span class="input-img">
                            <img src="../../../assets/icons/user 1.png" width="20px" height="20px" alt="">
                        </span>
                    </div>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Field is required</div>
                    </div>
                  </div>
            </div>
       
        </div>
    
        <div class="row pb-5 pt-4 justify-content-center">
            <div class="col-md-5">
                <button  (click)='onSubmit()' class="btn my-3 btn-success py-3 btn-block rounded-pill">Send My Password</button>
            </div>
        </div>
    </form>
    </div>
</section>