<section>
    <div class="container">
        <div class="row">

            <div class="col-md-5 mt-md-5">
                <h1 class="rizk-banner mt-md-5"><span class="text-green">Rizk</span> Jobs
                    <br> special for you
                </h1>
                <img src="../../assets/icons/Layer 2.png" class="mt-3" height="150px" width="180px" alt="">
            </div>
            <div class="col-md-7">
                <div>
                    <img src="../../assets/images/Group 94.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <div class="find-job">
                        <h4>Find Jobs</h4>
                    </div>
                    <div class="find-employee">
                        <h4>Find Employee</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card border-0 p-4">
                    <div class="row justify-content-center">
                        <div class="col-md-3 px-0">
                            <input type="search" class="form-control border-0 shadow" placeholder="Keywords">

                        </div>
                        <div class="col-md-3 px-0">
                            <select class="form-select bg-light border-0 shadow form-control"
                                aria-label="Default select example">
                                <option selected>Profile category</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="col-md-3 px-0">
                            <input type="text" class="form-control bg-light border-0 shadow" readonly value="Location">
                        </div>
                        <div class="col-md-2 px-0">
                            <button class="btn btn-success btn-block">Search</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 mt-5 text-center">
                <h1>Search Catagories</h1>
            </div>
            <div class="col-md-3">
                <div class="card card-category text-center py-3 px-2">
                    <div>
                        <img src="../../assets/icons/implementer 1.png" width="90px" height="90px" alt="">
                    </div>
                    <div class="mt-2">
                        <h5>Graphic Designer</h5>
                        <span class="text-muted">10,2000 Profiles</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-category text-center py-3 px-2">
                    <div>
                        <img src="../../assets/icons/coding 1.png" width="90px" height="90px" alt="">
                    </div>
                    <div class="mt-2">
                        <h5>Angular Developer</h5>
                        <span class="text-muted">10,2000 Profiles</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-category text-center px-2 py-3">
                    <div>
                        <img src="../../assets/icons/web-development 1.png" width="90px" height="90px" alt="">
                    </div>
                    <div class="mt-2">
                        <h5>Web Developer</h5>
                        <span class="text-muted">30,2000 Profiles</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-category text-center py-3 px-2">
                    <div>
                        <img src="../../assets/icons/paint-palette 1.png" width="90px" height="90px" alt="">
                    </div>
                    <div class="mt-2">
                        <h5>Arts</h5>
                        <span class="text-muted">10,700 Profiles</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card  card-category text-center py-3 px-2">
                    <div>
                        <img src="../../assets/icons/implementer 1.png" width="90px" height="90px" alt="">
                    </div>
                    <div class="mt-2">
                        <h5>Graphic Designer</h5>
                        <span class="text-muted">10,2000 Profiles</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-category text-center py-3 px-2">
                    <div>
                        <img src="../../assets/icons/coding 1.png" width="90px" height="90px" alt="">
                    </div>
                    <div class="mt-2">
                        <h5>Angular Developer</h5>
                        <span class="text-muted">10,2000 Profiles</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-category text-center px-2 py-3">
                    <div>
                        <img src="../../assets/icons/web-development 1.png" width="90px" height="90px" alt="">
                    </div>
                    <div class="mt-2">
                        <h5>Web Developer</h5>
                        <span class="text-muted">30,2000 Profiles</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-category text-center py-3 px-2">
                    <div>
                        <img src="../../assets/icons/paint-palette 1.png" width="90px" height="90px" alt="">
                    </div>
                    <div class="mt-2">
                        <h5>Arts</h5>
                        <span class="text-muted">10,700 Profiles</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-4 justify-content-center">
            <div class="col-md-3">
                <button class="btn btn-success rounded-pill btn-block py-2">Browse All Categories</button>
            </div>
        </div>
        <div class="row mt-5 my-4">
            <div class="col-md-6 pr-md-0">
                <div class="card job-card p-4">
                    <div class="d-flex justify-content-between">
                        <div class="job-side mt-4">
                            <h4>Looking For Job!</h4>
                            <p>Simply find a profile and contact to
                                <br> profile holder.
                            </p>
                            <p class="text-muted mt-md-4">20,215 great positions</p>
                        </div>
                        <div>
                            <img src="../../assets/icons/meeting 2.png" width="180px" height="180px" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-md-0">
                <div class="card employee-card p-4">
                    <div class="d-flex justify-content-between">
                        <div class="employee-side mt-4">
                            <h4>Hire an employee</h4>
                            <p class="">Simply find a profile and contact to
                                <br> profile holder.
                            </p>
                            <p class=" mt-md-4">20,215 great positions</p>
                        </div>
                        <div>
                            <img src="../../assets/icons/Group 90.png" width="180px" height="180px" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 mb-4 border-0">
            <div class="col-md-12">
                <div class="detail_row">
                    <div class="d-flex">
                        <div class="img-right">
                            <div class="img-div">
                                <img class="job-img" src="../../../assets/images/Ellipse 5.png" alt="">
                            </div>
                        </div>
                        <div class="">
                            <ul class="list-unstyled ml-3 mt-md-4">
                                <li>
                                    <span class="job-title">Sr Php/Laravell Developer</span>
                                    <span class="full-time ml-3"><i class="fas fa-briefcase"></i> Full Time</span>
                                    <span class=""></span>
                                </li>
                                <li>
                                    <span class="job-site">Amazon.com</span>
                                    <span class="job-markup ml-2"><i class="fas fa-map-marker-alt"></i></span>
                                    <span class="job-location"> Green Town, Pakistan</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class=" text-right">
                        <ul class="list-unstyled mt-md-4">
                            <li>
                                <span class="job-des">Software development</span>

                            </li>
                            <li>

                                <span class="job-clock"><i class="far fa-clock"></i></span>
                                <span class="job-time"> 10:20 PM , Jan 12, 2020</span>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="detail_row">
                    <div class="d-flex">
                        <div class="img-right">
                            <div class="img-div">
                                <img class="job-img" src="../../../assets/images/Ellipse 5 (1).png" alt="">
                            </div>
                        </div>
                        <div class="">
                            <ul class="list-unstyled ml-3 mt-md-4">
                                <li>
                                    <span class="job-title">Ui/ UX Developer</span>
                                    <span class="part-time ml-3"><i class="fas fa-briefcase"></i> Part Time</span>
                                    <span class=""></span>
                                </li>
                                <li>
                                    <span class="job-site">Amazon.com</span>
                                    <span class="job-markup ml-2"><i class="fas fa-map-marker-alt"></i></span>
                                    <span class="job-location"> Green Town, Pakistan</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class=" text-right">
                        <ul class="list-unstyled mt-md-4">
                            <li>
                                <span class="job-des">Software development</span>

                            </li>
                            <li>

                                <span class="job-clock"><i class="far fa-clock"></i></span>
                                <span class="job-time"> 10:20 PM , Jan 12, 2020</span>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="detail_row">
                    <div class="d-flex">
                        <div class="img-right">
                            <div class="img-div">
                                <img class="job-img" src="../../../assets/images/Ellipse 5 (2).png" alt="">
                            </div>
                        </div>
                        <div class="">
                            <ul class="list-unstyled ml-3 mt-md-4">
                                <li>
                                    <span class="job-title">Android Developer</span>
                                    <span class="freelancer ml-3"><i class="fas fa-briefcase"></i> Freelancer</span>
                                    <span class=""></span>
                                </li>
                                <li>
                                    <span class="job-site">Amazon.com</span>
                                    <span class="job-markup ml-2"><i class="fas fa-map-marker-alt"></i></span>
                                    <span class="job-location"> Green Town, Pakistan</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class=" text-right">
                        <ul class="list-unstyled mt-md-4">
                            <li>
                                <span class="job-des">Software development</span>

                            </li>
                            <li>

                                <span class="job-clock"><i class="far fa-clock"></i></span>
                                <span class="job-time"> 10:20 PM , Jan 12, 2020</span>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="detail_row">
                    <div class="d-flex">
                        <div class="img-right">
                            <div class="img-div">
                                <img class="job-img" src="../../../assets/images/Ellipse 8.png" alt="">
                            </div>
                        </div>
                        <div class="">
                            <ul class="list-unstyled ml-3 mt-md-4">
                                <li>
                                    <span class="job-title">Angular Developer</span>
                                    <span class="internship ml-3"><i class="fas fa-briefcase"></i> Internship</span>
                                    <span class=""></span>
                                </li>
                                <li>
                                    <span class="job-site">Amazon.com</span>
                                    <span class="job-markup ml-2"><i class="fas fa-map-marker-alt"></i></span>
                                    <span class="job-location"> Green Town, Pakistan</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class=" text-right">
                        <ul class="list-unstyled mt-md-4">
                            <li>
                                <span class="job-des">Software development</span>

                            </li>
                            <li>

                                <span class="job-clock"><i class="far fa-clock"></i></span>
                                <span class="job-time"> 10:20 PM , Jan 12, 2020</span>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="detail_row">
                    <div class="d-flex">
                        <div class="img-right">
                            <div class="img-div">
                                <img class="job-img" src="../../../assets/images/Ellipse 5.png" alt="">
                            </div>
                        </div>
                        <div class="">
                            <ul class="list-unstyled ml-3 mt-md-4">
                                <li>
                                    <span class="job-title">Sr Php/Laravell Developer</span>
                                    <span class="full-time ml-3"><i class="fas fa-briefcase"></i> Full Time</span>
                                    <span class=""></span>
                                </li>
                                <li>
                                    <span class="job-site">Amazon.com</span>
                                    <span class="job-markup ml-2"><i class="fas fa-map-marker-alt"></i></span>
                                    <span class="job-location"> Green Town, Pakistan</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class=" text-right">
                        <ul class="list-unstyled mt-md-4">
                            <li>
                                <span class="job-des">Software development</span>

                            </li>
                            <li>

                                <span class="job-clock"><i class="far fa-clock"></i></span>
                                <span class="job-time"> 10:20 PM , Jan 12, 2020</span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0 justify-content-between">
                <div class="bg-img">
                    <ul class="list-unstyled ul-sign">
                        <li>
                            <h3>Get started with Rizk</h3>
                        </li>

                        <li>
                            <button class="btn px-4 btn-sign">Sign Up</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="bg-img-1">
                    <div class="custom-margin">
                        <h1>Thousends of people using Rizk</h1>
                    </div>
                    <div class="card custom-card p-4">
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et repellat quibusdam numquam
                            aspernatur non id, vel iste commodi accusamus doloremque dolor placeat. Dolor modi fuga
                            eaque repudiandae recusandae nobis voluptatibus magnam officiis expedita sunt quae maiores
                            ipsum voluptate nemo doloremque pariatur qui libero non beatae quam iusto et, rerum
                            id?</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>