<section>
    <div class="container">
        <div class="row my-4">
            <div class="col-md-5">
                <div>
                    <img src="../../assets/images/Group 634.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mt-md-5">
                    <img src="../../assets/images/man-woman-making-deal-work 1.png" class="img-fluid mt-md-5" alt="">
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-3 text-center">
                <div>
                    <img src="../../assets/icons/Group 552.png" width="100px" height="90px"  alt="">
                </div>
                <div class="mt-3">
                    <span class="work-text">Sign Up</span>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div>
                    <img src="../../assets/icons/Group 551.png" width="90px" height="90px"  alt="">
                </div>
                <div class="mt-3">
                    <span class="work-text">Find </span>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div>
                    <img src="../../assets/icons/Group 550.png" width="90px" height="90px"  alt="">
                </div>
                <div class="mt-3">
                    <span class="work-text">Contact</span>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div>
                    <img src="../../assets/icons/Group 549.png" width="100px" height="90px"  alt="">
                </div>
                <div class="mt-3">
                    <span class="work-text">Interview</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0 justify-content-between">
                <div class="bg-img">
                    <ul class="list-unstyled">
                        <li>
                            <h3>Get started with Rizk</h3>
                        </li>

                        <li>
                            <button class="btn px-4 btn-sign">Sign Up</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="bg-img-1">
                    <div class="custom-margin">
                        <h1>Thousends of people using Rizk</h1>
                    </div>
                    <div class="card custom-card p-4">
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et repellat quibusdam numquam aspernatur non id, vel iste commodi accusamus doloremque dolor placeat. Dolor modi fuga eaque repudiandae recusandae nobis voluptatibus magnam officiis expedita sunt quae maiores ipsum voluptate nemo doloremque pariatur qui libero non beatae quam iusto et, rerum id?</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>